<h2>Background</h2>
	<ul>
		<b>I've worked in...</b>
			<ul>
				<h3>
				<li>Management consulting</li>
				<li>Data science</li>
				<li>Music</li>
				</h3>
			</ul>	
		<b>In my free time, you'll find me...</b> 
			<ul>
				<h3>
				<li>Taking photos</li>
				<li><a href="https://yugen.today" target="_blank">Writing about culture</a></li>
				<li>Escaping to the outdoors</li>
				</h3>
			</ul>
	</ul>	
<h2>Resume</h2>
<ul>
  <b>Education</b>
  	<ul>
  		<h3>
  		<li>MBA, INSEAD</li>
  		<li>Cognitive Science BS, UCLA</li>
  		</h3>
  	</ul>
  <b>Professional Experience</b>
  	<ul>
  		<h3>
  		<li>Consultant, BCG</li>
  		<li>Ops Manager, Spoke London</li>
  		<li>Associate, Opera Solutions</li>
  		<li>Sound Engineer</li>
  		</h3>
  	</ul>
<!--
  <b>Personal Achievements</b>
	<ul>
		<h3>
		<li>Traveled to 40+ countries</li>
 		</h3>
	</ul>
--> 
	<h3><b>Download my <a href="assets/Jon_Lexa_CV.pdf" target="_blank">curriculum vitae</a></b></h3>	
  </ul>

<hr />
